<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Users</h1>
<a th:href="@{/logout}">Logout</a>
<br><br>
<a href="/admin/new">Create a new user</a><br/><br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>age name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId}">id</td>
        <td th:utext="${user?.getFirstName()}">First name</td>
        <td th:utext="${user?.getLastName()}">Last name</td>
        <td th:utext="${user?.getAge()}">Age</td>
        <td th:utext="${user.getEmail}">Email</td>
        <td><span th:each="roles : ${user?.getRoles()}" th:utext= "${roles?.toString()}+'   '">Roles</span></td>
        <td><a th:href="@{/admin/{id}/update(id=${user.getId})}">Update</a></td>
        <td><form th:method="POST" th:action="@{/admin/{id}(id=${user.getId})}+'/delete'" onclick="return confirm('Вы действительно хотите удалить этого пользователя!?')">
            <input type="submit" value="Delete"/>
        </form> </td>
    </tr>
</table>
</body>
</html>